.eventDiv{
  background-color: white;
}
.headLine{
  margin-top: 50px;;
}
.form-design{
  padding:20px;
  width: 100%;
height: 200px;
}
.input-text {
  border: none;
  border-bottom: 2px solid black;  
  margin: 10px;
  width: 50%;
  padding: 10px;
}
.banner{
  margin-bottom: 5px;
}
.imgAdmin{
  margin-bottom: 30px;
}