.firstBackImg{
  background-image: url("https://i.imgur.com/kBL3nrr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  width:100%;
  margin-bottom: 100px;
}

.opacity-set{
  background-color: rgba(255, 255, 255, 0.5);
  opacity:1;
  height:100vh;
  
}