.container{
  text-align:center;
}
.imgDiv{
  margin: 50px;
}
.loginDiv{
  background-color: white;
  height: 280px;
  width: 350px;
  margin:auto;
  border:1px solid gray;
}
.googleSign{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 1px solid black;
  cursor:pointer;
  overflow: hidden;
  padding: 5px 15px;
  margin-top:80px;
  border-radius: 25px;
  width:90%;
}